<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dream.cutepet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.dream.cutepet.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity android:name="com.dream.cutepet.DynamicDetailsActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.PetDetailsActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ReleaseActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.WriteTalkActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.WriteTalkUpLoadPhotoActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.DialogActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.LoginActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.AboutActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.SelectPhotoActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.PetStrategyDetailsActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.AccountActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.PetReleaseActivity" >
        </activity>
        <activity
            android:name="com.dream.cutepet.AllPageActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.dream.cutepet.PerfectInformationActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.PetStoreActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.PersonalInformationActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.PetStrategyCommentActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.SetActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.FusionActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.MyPhotoAlbumActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.NewPhotoAlbumActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.UploadPhotoActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.PetInformationActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.GuidepageActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dream.cutepet.RegisterActivity" >
        </activity>
        <activity android:name="com.dream.cutpet.server.ChatActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.UpdateActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.SecurityActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ChangePasswordActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ChangeMailActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ChangeNumberActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ComplainActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.fragment.ChatActivityFragment" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.SetPetIconActivity" >
        </activity>
        <activity android:name="com.dream.cutpet.server.AddCustomActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.ShowImageActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.UpPetIconActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.WriteTalkUpLoadShowPhotoActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.SetPersonIconActivity" >
        </activity>
        <activity android:name="com.dream.cutepet.ui.UpPersonIconActivity" >
        </activity>
    </application>

</manifest>